@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eeeded;
}

@layer components {

  .navbar__link:hover {
    color: #ff8f9c;
    transition: all 0.4s;
  }

  .navbar__link:after {
    position: absolute;
    content: "";
    background-color: #ff8f9c;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }

  .navbar__link:hover::after {
    scale: 1;
  }

  .navigation {
    position: relative;
    width: 100%;
    height: 75px;
    padding-bottom: 20px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation ul {
    display: flex;
    width: 350px;
  }
  .navigation ul li {
    list-style: none;
    position: relative;
    width: 70px;
    height: 60px;
    z-index: 2;
  }
  .navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .navigation ul li a .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #DBDBDB;
    font-size: 1.5em;
    transition: 0.5s;
  }
  .navigation ul li.active a .icon {
    background: #FF7C7F;
    color: white;
    transform: translateY(-27px);
  }
  .navigation ul li a .icon::before {
    content: '';
    background: #FF7C7F;
    position: absolute;
    top: 10px;
    left: 0;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    filter: blur(5px);
    opacity: 0;
    z-index: -1; 
  }
  .navigation ul li.active a .icon::before {
    opacity: 0.5;
  }

  .indicator {
    position: absolute;
    top: -35px;
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 50%;
    z-index: 1;
    transition: 0.5s;
  }
  .indicator::before {
    content: '';
    position: absolute;
    top: 5px;
    left: -28px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 15px 18px white;
  }
  .indicator::after {
    content: '';
    position: absolute;
    top: 5px;
    right: -28px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -15px 18px white;
  }

  .navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
  }
  .navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
  }
  .navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
  }
  .navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
  }
  .navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
  }
}
